{% extends "base.html" %}
{% block title %}
    Войти
{% endblock %}
{% block content %}
    <h1>
        Войти
    </h1>
    <div class="module">
        <p>Введите свои данные, чтобы создать учетную запись:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Создать мою учетную запись"></p>
        </form>
    </div>
{% endblock %}
