{% extends "base.html" %}
{% block title %}Чат-комната для "{{ course.title }}"{% endblock %}
{% block content %}
    <div id="chat">
    </div>
    <div id="chat-input">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="submit" value="Отправить">
    </div>
{% endblock %}
{% block include_js %}
    {{ course.id|json_script:"course-id" }}
    {{ request.user.username|json_script:"request-user" }}
{% endblock %}
{% block domready %}
    const courseId = JSON.parse(
        document.getElementById('course-id').textContent
    );
    const requestUser = JSON.parse(
        document.getElementById('request-user').textContent
    );
    const url = 'ws://' + window.location.host + '/ws/chat/room/' + courseId + '/';
    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const chat = document.getElementById('chat');

        const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
        const datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
        const isMe = data.user === requestUser;
        const source = isMe ? 'me' : 'other';
        const name = isMe ? 'Я' : data.user;

        chat.innerHTML += '<div class="message ' + source + '">' +
                          '<strong>' + name + '</strong> ' +
                          '<span class="date">' + datetime + '</span><br>' +
                          data.message + '</div>';
        chat.scrollTop = chat.scrollHeight;
    };

    chatSocket.onclose = function(event) {
        console.error('Сокет чата неожиданно закрылся');
    };

    const input = document.getElementById('chat-message-input');
    const submitButton = document.getElementById('chat-message-submit');

    submitButton.addEventListener('click', function(event) {
        const message = input.value;
        if(message) {
            // отправить сообщение в формате JSON
            chatSocket.send(JSON.stringify({'message': message}));
            // очистить ввод
            input.value = '';
            input.focus();
        }
    });

    input.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            // отменить действие по умолчанию, если это необходимо
            event.preventDefault();
            // отправить
            submitButton.click();
        }
    });

    input.focus();
{% endblock %}
