{% extends "base.html" %}
{% block title %}Удалить курс{% endblock %}
{% block content %}
    <h1>Удалить курс "{{ object.title }}"</h1>
    <div class="module">
        <form action="" method="post">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить "{{ object }}"?</p>
            <input type="submit" value="Подтверждаю">
        </form>
    </div>
{% endblock %}
