{% extends "base.html" %}
{% block title %}Мои курсы{% endblock %}
{% block content %}
    <h1>Мои курсы</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url "course_edit" course.id %}">Изменить</a>
                    <a href="{% url "course_delete" course.id %}">Удалить</a>
                    <a href="{% url "course_module_update" course.id %}">Изменить модуль</a>
                    {% if course.modules.count > 0 %}
                        <a href="{% url "module_content_list" course.modules.first.id %}">
                        Менеджер контента
                        </a>
                    {% endif %}
                </p>
            </div>
        {% empty %}
            <p>Вы еще не создали ни одного курса.</p>
        {% endfor %}
        <p>
            <a href="{% url "course_create" %}" class="button">Создать новый курс</a>
        </p>
    </div>
{% endblock %}