{% extends "base.html" %}
{% block title %}Выход из аккаунта{% endblock %}
{% block content %}
  <h1>Выход из аккаунта платформы</h1>
  <div class="module">
    <p>
      Вы успешно вышли из системы.
      Вы можете снова <a href="{% url "login" %}">войти</a>.
     </p>
  </div>
{% endblock %}
