{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Вход</h1>
    <div class="module">
        {% if form.errors %}
            <p>Ваше имя пользователя и пароль не совпали. Пожалуйста, попробуйте снова.</p>
        {% else %}
            <p>Пожалуйста, заполните форму для входа в систему:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Log-in"></p>
            </form>
        </div>
    </div>
{% endblock %}
