{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Образовательная платформа{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Образовательная платформа</a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li><a href="{% url "logout" %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url "login" %}">Войти</a></li>
        {% endif %}
    </ul>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% block include_js %}
{% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // DOM-модель загружена
        {% block domready %}
        {% endblock %}
    })
</script>
</body>
</html>
