{% extends "base.html" %}
{% block title %}
    {% if object %}
        Изменить контент "{{ object.title }}"
    {% else %}
        Добавить новый контент
    {% endif %}
{% endblock %}
{% block content %}
    <h1>
        {% if object %}
            Изменить контент "{{ object.title }}"
        {% else %}
            Добавить новый контент
        {% endif %}
    </h1>
    <div class="module">
        <h2>Информация о курсе</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сохранить контент"></p>
        </form>
    </div>
{% endblock %}
