{% extends "base.html" %}
{% block title %}
    Изменить "{{ course.title }}"
{% endblock %}
{% block content %}
    <h1>Изменить "{{ course.title }}"</h1>
    <div class="module">
        <h2>Модуль курса</h2>
        <form method="post">
            {{ formset }}
            {{ formset.management_form }}
            {% csrf_token %}
            <input type="submit" value="Сохранить модуль">
        </form>
    </div>
{% endblock %}
